
body {
  font-family: 'Droid Serif';
  color: #3c3836;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
h1 { color: #3c3836; }
h2 { color: #504945; }
h3 { color: #665c54; }

a { color: #076678; }

.inverse {
  color: #ebdbb2;
  background-color: #32302f;
}

.inverse h1 { color: #ebdbb2; }
.inverse h2 { color: #d5c4a1; }
.inverse h3 { color: #bdae93; }

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.active   { color: #427b58; }
.inverse.active   { color: #8ec07c; }

.left-column {
  color: #504945;
  width: 25%;
  height: 92%;
  float: left;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
