.bg00   { color: #f9f5d7; }
.bg01   { color: #ebdbb2; }
.bg02   { color: #d5c4a1; }
.bg03   { color: #bdae93; }
.bg04   { color: #a89984; }
.fg03   { color: #665c54; }
.fg02   { color: #504945; }
.fg01   { color: #3c3836; }
.fg00   { color: #282828; }
.red    { color: #9d0006; }
.orange { color: #af3a03; }
.yellow { color: #b57614; }
.green  { color: #79740e; }
.blue   { color: #076678; }
.purple { color: #8f3f71; }
.brown  { color: #d65d0e; }

.inverse.bg00   { color: #1d2021; }
.inverse.bg01   { color: #3c3836; }
.inverse.bg02   { color: #504945; }
.inverse.bg03   { color: #665c54; }
.inverse.fg03   { color: #bdae93; }
.inverse.fg02   { color: #d5c4a1; }
.inverse.fg01   { color: #ebdbb2; }
.inverse.fg00   { color: #fbf1c7; }
.inverse.red    { color: #fb4934; }
.inverse.orange { color: #fe8019; }
.inverse.yellow { color: #fabd2f; }
.inverse.green  { color: #b8bb26; }
.inverse.blue   { color: #83a598; }
.inverse.purple { color: #d3869b; }
.inverse.brown  { color: #d65d0e; }
